.about-us {
    height: 420px;
    background-color: rgb(248, 239, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-us_wrap {
    margin-top: 40px;
    height: 100%;
    max-width: 580px;
    width: 100%;
    text-align: center;
}

.about-us_h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.about-us_text {
    color: #8e8e8e;
    margin-bottom: 30px;
}